Repository zxdavb/ramses_cc: changes, and which pre-commit hooks are due for each by the changed paths.
All: debugs, secrets

debugs:
  name: check DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

secrets:
  name: check secrets
  entry: '#.*(secret|password|pwd)'
  language: pygrep
  args:
  - -i

harden test (CP)
  tests/test_init_data.py
Due: secrets

use System, not SystemBase
  custom_components/ramses_cc/sensor.py
Due: debugs, secrets

active_fault attr now active_faults (CP)
  custom_components/ramses_cc/binary_sensor.py
Due: debugs, secrets

refactor the VirtualRf (add rply for cmd)
  tests/virtual_rf/__init__.py
  tests/virtual_rf/const.py
  tests/virtual_rf/helpers.py
  tests/virtual_rf/virtual_rf.py
Due: secrets

version bump, lint, mypy
  custom_components/ramses_cc/manifest.json
  pyproject.toml
  requirements_test.txt
  tests/conftest.py
Due: debugs, secrets

fix GWY address
  .pre-commit-config.yaml
  tests/test_data/system_1.log
  tests/test_init.py
  tests/test_init_data.py
  tests/test_services.py
Due: debugs, secrets

normalise descriptions
  custom_components/ramses_cc/binary_sensor.py
  custom_components/ramses_cc/sensor.py
Due: debugs, secrets

normalise sensor descriptors
  custom_components/ramses_cc/binary_sensor.py
  custom_components/ramses_cc/sensor.py
Due: debugs, secrets

lint
  custom_components/ramses_cc/broker.py
Due: debugs, secrets

refactor TCS.faults attr
  custom_components/ramses_cc/binary_sensor.py
  custom_components/ramses_cc/climate.py
  custom_components/ramses_cc/const.py
Due: debugs, secrets

add get_faults SVC
  custom_components/ramses_cc/schemas.py
  custom_components/ramses_cc/services.yaml
Due: debugs, secrets

default to 8 log entries
  custom_components/ramses_cc/schemas.py
  custom_components/ramses_cc/services.yaml
Due: debugs, secrets

not dependent on MQTT (CP)
  custom_components/ramses_cc/manifest.json
Due: debugs, secrets

Not dependent on MQTT
  custom_components/ramses_cc/manifest.json
Due: debugs, secrets

a
  custom_components/ramses_cc/__init__.py
Due: debugs, secrets

Create dependabot.yml
  .github/dependabot.yml
Due: debugs, secrets

Create dependabot.yml (#189)
  .github/dependabot.yml
Due: debugs, secrets

Update manifest.json
  custom_components/ramses_cc/manifest.json
Due: debugs, secrets

Update manifest.json (#190)
  custom_components/ramses_cc/manifest.json
Due: debugs, secrets

switch to pyserial-asyncio-fast
  custom_components/ramses_cc/manifest.json
Due: debugs, secrets

Add impersonation support to send_packet service
  .gitignore
  custom_components/ramses_cc/schemas.py
  custom_components/ramses_cc/services.yaml
  custom_components/ramses_cc/translations/en.json
  tests/test_services.py
Due: debugs, secrets

Fix device_id in test_svc_send_packet_with_impersonation test
  tests/test_services.py
Due: secrets

Process review comments
  custom_components/ramses_cc/services.yaml
  custom_components/ramses_cc/translations/en.json
  tests/test_services.py
Due: debugs, secrets

typing for config flow
  custom_components/ramses_cc/config_flow.py
Due: debugs, secrets

doctweak for config flow
  custom_components/ramses_cc/__init__.py
Due: debugs, secrets

doctweak
  custom_components/ramses_cc/__init__.py
Due: debugs, secrets

bump to 0.41.23
  custom_components/ramses_cc/manifest.json
Due: debugs, secrets

Fix typo in schemas.py
  custom_components/ramses_cc/schemas.py
Due: debugs, secrets

bump pre-commits libs
  .pre-commit-config.yaml
Due: none

restore CONFIG_SCHEMA
  custom_components/ramses_cc/__init__.py
  custom_components/ramses_cc/schemas.py
Due: debugs, secrets

doctweaks, mypy hints
  custom_components/ramses_cc/broker.py
  custom_components/ramses_cc/config_flow.py
  tests/test_services.py
Due: debugs, secrets

CF import uses CONFIG_SCHEMA
  custom_components/ramses_cc/config_flow.py
Due: debugs, secrets

extend tests for packet log (now with CONFIG_SCHEMA)
  tests/conftest.py
  tests/test_init.py
Due: secrets

rename test
  tests/test_init_config.py
Due: secrets

bugfix #187 (tests)
  tests/test_init_config.py
Due: secrets

Path conditions:
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
  secrets: any file but: .pre-commit-config.yaml
